@CHARSET "UTF-8";

* {
	font-family: 'Arial', sans-serif;
}

ul li.selected {
	border: 1px solid #000;
}

.ticketbooking table {
	width: 100%;
}
.ticketright {
	background-color: #ccc;
	border: 1px solid #444;
	width: 20%;
}
.ticketleft {
	border: 1px solid #444;
}

td {
	vertical-align: top;
}

.ticketbooking label {
	display: block;
}

.stepmenu {
	background-color: #ccc;
	color: #fff;
	font-size: .7em;
}
.stepmenu .step {
	cursor: pointer;
}
.stepmenu .step.nodirectaccess {
	cursor: default;
}
.stepactive {
	color: #444;
	font-weight: bold;
}

.addresses, .summary, .final {
	display: none;
}

.toSummary.btn, .doCheckout.btn {
	display: none;
}

/* Fehler in Formularen */
/* globales Fehlerfeld über einem Formular */ 
.errors {
	background: #fcc;
	border: #800 solid 2px;
	padding: 5px;
	font-weight: bold;
	color: #800;
}
/* Markierung eines Input-Feldes, dessen Inhalt fehlerhaft ist */
.errorfield {
	background: #fcc;
	border: 2px solid #800;
}
/* Fehlertext über einem Input-Feld, dessen Inhalt fehlerhaft ist */
.errtext {
	color: #800;
}



/* 20160329 */
.bpage {
	display: none;
	padding: 10px;
}
.bpage.active {
	display: block;
}
.tcatchoice {
	list-style-type: none;
	margin-right: 30px;
}
.tcatchoice li {
	border: 1px solid #eee;
	/*background-color: #aaa;*/
	padding: 5px 5px 5px 30px;
	color: #888;
	cursor: pointer;
}
.tcatchoice li:hover {
	background-color: #ddd;
}
.tcatchoice li.active {
	color: #000;
	border-color: #000;
	background-image: url('/pic/checked.png');
	background-repeat: no-repeat;
	background-position: left center;
}
.tcatchoice li p.ticketcategorydescription {
	font-size: .7em;
}
.fieldarea {
	padding-top: 5px;
	padding-bottom: 5px;
}

table.sessionchoice {
	border-collapse: collapse;
	border: 1px solid #444;
}
table.sessionchoice tr td, table.sessionchoice tr th {
	padding: 0.3em;
	border: 1px solid #444;
}
table.sessionchoice .break {
	background-color: #ccc;
	text-align: center;
	vertical-align: middle;
}
table.sessionchoice .presentation {
	cursor: pointer;
	background: url('https://tickets.fluxcess.com/pic/checkcircle_green.svg') ;
	background-position: top right;
	background-repeat: no-repeat;
	border-top: 1px solid #000;
}
table.sessionchoice .presentation.fullybooked {
	background: url('https://tickets.fluxcess.com/pic/checkcircle_fullybooked_de.svg') ;
	background-position: top right;
	background-repeat: no-repeat;
	cursor: auto;
}
table.sessionchoice .fullybooked {
	cursor: auto;
}
table.sessionchoice .selected {
	background: url('https://tickets.fluxcess.com/pic/checkcircle_green_checked.svg') ;
	background-position: top right;
	background-repeat: no-repeat;
	background-color: #cfe420;
}
table.sessionchoice .presentation.selected:hover {
	background: url('https://tickets.fluxcess.com/pic/checkcircle_green_checked.svg') ;
	background-position: top right;
	background-repeat: no-repeat;
	background-color: #cfe420;
}
table.sessionchoice .presentation.selected.fullybooked:hover {
	background: url('https://tickets.fluxcess.com/pic/checkcircle_fullybooked_de.svg') ;
	background-position: top right;
	background-repeat: no-repeat;
	cursor: auto;
}
table.sessionchoice .presentation:hover {
	background: url('https://tickets.fluxcess.com/pic/checkcircle_green_hint.svg');
	background-position: top right;
	background-repeat: no-repeat;
}
table.sessionchoice .presentation.fullybooked:hover {
	background: url('https://tickets.fluxcess.com/pic/checkcircle_fullybooked_de.svg');
	background-position: top right;
	background-repeat: no-repeat;
	cursor: auto;
}
table.sessionchoice.sessionlayout1 tr td .speaker {
	font-size: .7em;
	text-align: center;
	border-bottom: #ccc 1px solid;
	padding-bottom: 0.2em;
}
table.sessionchoice.sessionlayout2 tr td .speaker {
	font-size: .6em;
	text-align: left;
	border-bottom: #ccc 1px solid;
	padding-bottom: 0.2em;
	height: 25px;
	overflow: hidden;
	font-weight: bold;
}
table.sessionchoice.sessionlayout1 tr td .title {
	font-size: .8em;
	text-align: center;
	font-weight: bold;
	padding-top: .5em;
	padding-bottom: .5em;
}
table.sessionchoice.sessionlayout2 tr td.break .title {
	font-size: .7em;
	text-align: center;
	font-weight: bold;
	padding-top: .5em;
	padding-bottom: .5em;
}
table.sessionchoice.sessionlayout2 tr td.presentation .title {
	font-size: .7em;
	line-height: 1.1em;
	text-align: left;
	font-weight: normal;
	padding-top: .5em;
	padding-bottom: .5em;
	height: 55px;
	overflow: hidden;
	-moz-hyphens: auto;
   -o-hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto; 
}
table.sessionchoice.sessionlayout2 tr td .sessionno {
	font-size: .7em;
	font-weight: bold;
	margin-right: 23px;
}
table.sessionchoice.sessionlayout2 tr td .sessionno .infolink {
	text-decoration: underline;
	color: #afc410;
	font-weight: normal;
}
table.sessionchoice.sessionlayout2 tr td.selected .sessionno .infolink {
	color: #000;
}

table.sessionchoice.sessionlayout2 tr td .sessionno:hover .infolink {
	font-weight: bold;
}

table.sessionchoice.sessionlayout2 tr td .datetime,
table.sessionchoice.sessionlayout2 tr td .datetimeto,
table.sessionchoice.sessionlayout2 tr td .speakerpic,
table.sessionchoice.sessionlayout2 tr td .description {
	display: none;
}
table.sessionchoice tr td .description {
	font-size: .8em;
	text-align: left;
}
table.sessionchoice tr td.stime {
	vertical-align: middle;
	text-align: center;
	line-height: 1.1em;
	border-top: 1px solid #000;
	padding-top: 1em;
}
table.sessionchoice tr.breakline td.stime {
	padding-top: 1.5em;
}
table.sessionchoice.sessionlayout2 tr td .info {
	position: absolute;
	background-color: green;
	color: white;
	bottom: 0px;
	right: 0px;
}
.eventposter img {
	cursor: pointer;
}

.foldhead {
	cursor: pointer;
	background-color: #ddd;
	padding: 5px;
}
.foldcontent {
	padding: 5px;
	border: 1px solid #eee;
}
.bbar {
	text-align: right;
}

.bookingerror {
	color: #c00;
	display: block;
	background-color: #fcc;
	padding: 3px;
}
.bookingerrormain {
	padding: 10px;
	color: #c00;
	background-color: #fcc;
}
.ticketpopup {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;	
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
	z-index: 1001;
}
.ticketpopupcontent {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 90%;
	height: 90%;
	background-color: #fff;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2.5%;
	border: 3px solid #888;
	z-index: 1002;
	overflow: auto;
	padding: 20px;
}
.ticketpopupcontent .speakerpic {
	width: 30%;
	float: left;
}
.ticketpopupcontent h2, .ticketpopupcontent p {
	margin-left: 32%;
}

.ticketbookinghidden {
	display: none;
}

.popupclose {
	text-align: right;
	font-size: 2em;
	color: #ccc;
	cursor: pointer;
	margin-top: -20px;
	margin-right: -10px;
}
.popupclose:hover {
	color: #444;
}

.navbutton {
	cursor: pointer;
}

/*
 * Simple error message above login form
 */
.fluxcess_errorMessage {
	display: none;
}
.fluxcess_loadingMessage, .fluxcess_waitMessage {
	display: none;
}

/*
 * This is shown, when there is a problem with the custom multipage form
 */
.fluxcess_technical_error {
	border: 3px solid #800;
	color: #800;
	padding: 1rem;
	background: #fff;
}

/*
 * Per-Guest data capturing form
 */
 .fluxcess_perGuestForm {
	 margin-bottom: 1rem;
	 border: #888 solid 3px;
	 padding: 1rem;
 }

.hidden {
	display: none;
}