@CHARSET "UTF-8";

.ticketright {
	display: none;
}

.ticketleft {
	border: none;
}

.stepmenu {
	background-color: transparent;
	color: #ccc;
}
.stepactive {
	color: #afc410;
	font-weight: normal;
}


table.sessionchoice {
	vertical-align: top;
	text-align: left;
	border-style: none;
	table-layout: fixed;
}
table.sessionchoice tr th {
	background-color: #bb0c80;
	color: #fff;
	border-style: none;
	font-weight: bold;
	font-size: 11px;
	text-align: center;
	border-right: 1px solid #fff;
}
table.sessionchoice tr td:nth-child(1),
table.sessionchoice tr th:nth-child(1) {
	width: 40px;
}
table.sessionchoice tr td {
	border-style: none;
	border-right-width: 1px;
	border-right-style: solid;
	text-align: left;
}
table.sessionchoice tr.pastbreakline td {
	border-top-style: none;
}
table.sessionchoice tr.pastheadline td {
	border-top-style: none;
}
table.sessionchoice tr td.stime {
	vertical-align: top;
	text-align: left;
	font-size: 11px;
	border-left: none;
	border-right: 1px solid #353535;
}
table.sessionchoice tr.breakline td.stime {
	background-color: #f4f8e8;
	border-style: none;
}
table.sessionchoice tr td.break {
	background-color: #f4f8e8;
	border-style: none;
}
table.sessionchoice tr td .speaker {
	text-align: left;
}
table.sessionchoice tr td .title {
	text-align: left;
	padding: 0;
}
table.sessionchoice tr td.break .speaker {
	display: none;
}
table.sessionchoice tr td.break .title {
	text-align: center;
}

.ticketpopupcontent {
	border-color: #afc410;
}